<footer class="w-full flex flex-col sm:flex-row sm:justify-center text-lg tracking-wide px-4 sm:px-0 py-16">
  <div class="text-center pr-0 sm:pr-8 py-4">
    <ul class="list-none">
      {% for item in site.social %}
        <li>
          <a class="text-gray-800 hover:text-white py-1 px-2 rounded underline-offset-8 hover:bg-gray-800 hover:font-bold underline hover:no-underline" href="{{ item.url }}" target="_blank" rel="_noopener">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>


  <div class="h-px sm:h-auto w-1/2 sm:w-px bg-pink-950 mx-auto sm:mx-0"></div>
  <div class="text-center h-full my-auto px-8 py-4">
    <ul class="list-none">
      <li>
<a class="text-gray-800 hover:text-white py-1 px-2 rounded underline-offset-8 hover:bg-gray-800 hover:font-bold underline hover:no-underline" href="/portfolio">Portfolio</a>
      </li>
    </ul>
  </div>

  <div class="h-px sm:h-auto w-1/2 sm:w-px bg-pink-950 mx-auto sm:mx-0"></div>
  <div class="text-center pl-0 sm:pl-8 py-4">
    <ul class="list-none">
      <li>
        <a class="text-gray-800 hover:text-white py-1 px-2 rounded underline-offset-8 hover:bg-gray-800 hover:font-bold underline hover:no-underline" href="{% if isFront %}/story{% else %}{{ site.baseURL }}//story{% endif %}">About us</a>
      </li>
      <li>
        <a class="text-gray-800 hover:text-white py-1 px-2 rounded underline-offset-8 hover:bg-gray-800 hover:font-bold underline hover:no-underline" href="/contactus">Contact us</a>
      </li>
    </ul>
  </div>

</footer>

    <span class="py-8 block text-center text-gray-800 text-base w-3/4 mx-auto ">
       JUX acknowledges the traditional owners and custodians of country throughout Australia and acknowledges their continuing connection to land, water and community. We pay our respects to the people, the cultures and the elders past, present and emerging.
    </span>

    <span class="py-8 block text-center text-gray-800 text-xl font-light mx-auto">
      &copy; JUX
   </span>


</div>
<div class="">
  <a id="btt"
    class="hidden fixed bottom-0 right-0 rounded-tl-lg md:rounded mb-0 mr-0 md:mb-16 md:mr-16 px-3 py-1.5 md:px-8 md:py-2.5 
     bg-gray-800 opacity-80 text-gray-50 hover:opacity-100 hover:bg-pink-950 no-underline shadow-xl" 
    href="#top" title="Back to top"> 
    <p class= "font-bold text-gray-50">Back to top</p> 
    </a>
</div>
<div class="fixed bottom-0 left-0 mb-0 ml-0 md:mb-16 md:ml-16">
  <a href="/contactus" target="_blank" rel="noopener" title="Contact JUX"
    class="block rounded-tr-lg bg-gray-800 opacity-80 md:rounded px-2.5 py-2 md:px-6 md:py-2 hover:bg-pink-950 hover:opacity-100 shadow-xl">
    <img src="/assets/img/Env.svg" class="block h-5 md:h-7" alt="Contact Us">
  </a>
</div>