<div class="mt:0 flex flex-col justify-center h-full pb-6">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 pt-8 sm:px-8">
    
      <h1 class="tracking-wide text-pink-950 text-6xl mb-6 font-display">East Park Studios</h1>
      <h2 class="text-gray-50 font-bold tracking-wide text-2xl">We are undergoing a rebrand but we can still help you with your </h1>
        <span class="content__container block font-tight text-pink-950 font-display -ml-4 text-4xl my-6">
          <ul class="content__container__list">
 
            <li class="content__container__list__item xl:pl-3">websites</li>
            <li class="content__container__list__item xl:pl-3">logos</li>
             <li class="content__container__list__item xl:pl-3">branding</li>
            <li class="content__container__list__item xl:pl-3">content</li> 
            <li class="content__container__list__item xl:pl-3">packaging</li>            
            <li class="content__container__list__item xl:pl-3">infographics</li>
            <li class="content__container__list__item xl:pl-3">advertising</li>
          </ul>
        </span>
        <p class="text-gray-50 font-bold tracking-wider mb-4 text-2xl">...think about it</p>
    </div>
    <div class="w-full sm:w-1/2">
      <img class="sm:mb-16 w-1/2 mx-auto" src="/assets/img/doublebubble.svg" alt="JUX Logo">
    </div>

  </div>
</div>
      
  <div class="flex flex-row w-full justify-center pb-12">
    <a class="px-10 py-2 text-gray-800 bg-pink-950 rounded-lg shadow-md font-bold text-lg hover:bg-gray-50 hover:border-red"
    href="#about">Learn more</a>
  </div>