<div class="p-8 min-w-full min-h-full bg-gray-100">
<div class="my-8 bg-red-950 min-h-1/2 text-white lg:grid lg:grid-cols-2 lg:items-center ">
	<div class="text-center sm:p-16 lg:p-24 lg:text-left">
		<div class="max-w-3xl mx-auto lg:ml-0 lg:pt-12">
			<p class="text-3xl font-bold sm:text-4xl">
				Goulash Galley
			</p>

			<p class="mt-4">
			Veronica from Goulash Galley in Tharwa knew exactly what she wanted for the kitchen's logo when she contacted JUX. Armed with examples and mock-ups, Veronica was hoping for quick delivery of the final design.  She wasn't disappointed. 
			<br><br>
			The logo and wordmark, inspired by Hungarian folk art, culture and colours, came together in under a month. With Jarryd working closely with Veronica the whole time. Collaborating to get things just right. 
			<br><br>
			While the whole process took little more than three weeks,  the first drafts by the JUX team didn't necessarily hit the mark with Veronica. Luckily JUX's collaborative and user-centred design approach meant this didn't slow the process down. By checking in with Veronica early we were able to course-correct and get the project back on track to deliver the design Veronica wanted, just as quickly as she hoped.  
			<br><br>
			The final logo draws inspiration from Hungarian folk art and utilises strong but almost monochromatic colours that still meet Australian Web Content Accessibility contrast Guidelines (WCAG). 
			</p>
		</div>
	</div>
		<div class="relative w-full h-full rounded">
		<img
			class="relative inset-0 object-cover h-64 sm:h-96 lg:h-full"
			src="/assets/img/goulashgalley/brand.svg"
			alt=""
		/>
		</div>

</div>
<div class="bg-gray-100 min-h-1/2 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4 h-64 lg:h-full">
	<div class="relative w-full h-full">
        <img
          src="/assets/img/goulashgalley/BnW_Logo.png"
          alt="Image 1"
          class="relative inset-0 object-cover h-64 lg:h-full rounded"
        />
    </div>
    
      <div class="relative w-full h-full">
        <img
          src="/assets/img/goulashgalley/BnW_Brand.png"
          alt="Image 2"
          class="relative inset-0 object-cover h-64 lg:h-full rounded"
        />
      </div>

  <div class="relative w-full h-full">
        <img
          src="/assets/img/goulashgalley/mockup.png"
          alt="Image 3"
          class="relative inset-0 object-cover h-64 lg:h-full rounded"
        />
      </div>

      <div class="relative w-full h-full">
        <img
          src="/assets/img/goulashgalley/logo.png"
          alt="Image 4"
          class="relative inset-0 object-cover h-64 lg:h-full rounded"
        />
      </div>
    </div>
</div>
<div class="my-8 bg-red-1000 min-h-1/2 text-white lg:grid lg:grid-cols-2 lg:items-center ">
	<div class="text-center sm:p-16 lg:p-24 lg:text-left">
		<div class="max-w-3xl mx-auto lg:ml-0 lg:pt-12">
			<p class="text-3xl font-bold sm:text-4xl">
				Who's Hungary?
			</p>

			<p class="mt-4">
			Veronica from Goulash Galley in Tharwa knew exactly what she wanted for the kitchen's logo when she contacted JUX. Armed with examples and mock-ups, Veronica was hoping for quick delivery of the final design.  She wasn't disappointed. 
			<br><br>
			The logo and wordmark, inspired by Hungarian folk art, culture and colours, came together in under a month. With Jarryd working closely with Veronica the whole time. Collaborating to get things just right. 
			<br><br>
			While the whole process took little more than three weeks,  the first drafts by the JUX team didn't necessarily hit the mark with Veronica. Luckily JUX's collaborative and user-centred design approach meant this didn't slow the process down. By checking in with Veronica early we were able to course-correct and get the project back on track to deliver the design Veronica wanted, just as quickly as she hoped.  
			<br><br>
			The final logo draws inspiration from Hungarian folk art and utilises strong but almost monochromatic colours that still meet Australian Web Content Accessibility contrast Guidelines (WCAG). 
			</p>
		</div>
	</div>
		<div class="relative w-full h-full rounded order-first">
		<img
			class="relative inset-0 object-contain h-64 sm:h-96 lg:h-full"
			src="/assets/img/goulashgalley/hungary.svg"
			alt=""
		/>
		</div>
</div>