{% for item in collections.sections %}
{% if item.data.type === 'story' %}
  
    <div id="about" class="w-full min-h-screen flex flex-col justify-center items-center py-12">
<div class="py-20 bg-gray-50">
    <div class="container mx-auto px-6 md:px-12 xl:px-32">
        <div class="mb-16 text-center">
            <h2 class="mb-4 text-center text-2xl text-gray-900 font-bold md:text-4xl">JUX is a family affair</h2>
            <p class="text-gray-600 lg:w-8/12 lg:mx-auto">Tailus prides itself not only on award-winning technology, but also on the talent of its people of some of the brightest minds and most experienced executives in business.</p>
        </div>
        <div class="grid gap-12 items-center md:grid-cols-3">
            <div class="space-y-4 text-center">
                <img class="w-64 h-64 mx-auto object-cover rounded-xl md:w-40 md:h-40 lg:w-64 lg:h-64" 
                    src="https://lh3.googleusercontent.com/e49-uyFCitQNqDRLhYJGpPapcywpVHKfeZFB6O16M8BiMOdTArmj8gR6H46otlZz48rRTVSTOPPm6vEABARFj4Pch5EhAULMfW3fLEB5ICy4rjv1z_QZaLm55NnY_Ja1eA=w1280" 
                    alt="Amy, a laughing woman" loading="lazy" width="640" height="805">
                <div>
                    <h4 class="text-2xl">Amy</h4>
                    <span class="block text-sm text-gray-500">CEO-Founder</span>
                </div>
            </div>
            <div class="space-y-4 text-center">
                <img class="w-64 h-64 mx-auto object-cover rounded-xl md:w-48 md:h-64 lg:w-64 lg:h-80" 
                    src="https://lh5.googleusercontent.com/C6s58blK6w-xW9Y2OoWdneuOGOP3_qKboqjOezAOo7JqpmpCZTZIjgE9JfbJuAVpwbHulkknXV6VTQr5HToTUX2pwBn6MWw6xaZPrLdtMqr_3SqSkecVETr7hGHTOZ5-xg=w1280" 
                    alt="Jarryd, a smiling man" loading="lazy" width="1000" height="667">
                <div>
                    <h4 class="text-2xl">Jarryd</h4>
                    <span class="block text-sm text-gray-500">Designer / Programmer / Creative</span>
                </div>
            </div>
            <div class="space-y-4 text-center">
                <img class="w-64 h-64 mx-auto object-cover rounded-xl md:w-40 md:h-40 lg:w-64 lg:h-64" 
                    src="https://lh3.googleusercontent.com/Hz3LIlXjBm1Pbx9BuMAAuEvMDTsOpP1VahI1pG8cWclq_JHjOcTTtlgi5pp9Wvfgqq55w21Z73WKiHreXF5tMXTUJ6gAoRpm_gk94M4xrKugWhbN06f0tHR1u0QfqTJF=w1280" 
                    alt="a cute puppy" loading="lazy" width="1000" height="667">
                <div>
                    <h4 class="text-2xl">Ruby</h4>
                    <span class="block text-sm text-gray-500">Chief Wellness Officer</span>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

{% endif %}
{% endfor %}