{% for item in collections.sections %}
  {% if item.data.type === 'about' %}
    <div id="about" class="w-full min-h-screen bg-aboutGrey flex flex-col justify-center items-center py-12">
      <div class="self-center text-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px:0">

        <h2 class="font-display tracking-wider text-gray-800 text-6xl mb-4">
          Hey, I am Jarryd
        </h2>

        <div class="font-light text-black text-xl">
          My wife Amy and I run JUX as a collaboration to create truly unique peices
          that capture a perfect juxtaposition of what our clients want and their clients expect.
        </div>

        <img class="my-6 max-w-full mx-auto" src="/assets/img/Jarryd.png" alt="Jarryd, smiling at a table">
      </div>
      <div class="flex flex-row w-full justify-center">
        <a class="px-10 py-2 font-bold text-gray-800 bg-pink-950 rounded-lg shadow-md text-lg hover:bg-gray-800 hover:text-gray-50" href="#features">What we do</a>
      </div>
    </div>
  {% endif %}
{% endfor %}