{% for item in collections.sections %}
{% if item.data.type === 'contactus' %}
  
    <div id="about" class="w-full min-h-screen flex flex-col justify-center items-center py-12">
<div class="py-20 bg-gray-50">
    <div class="container mx-auto px-6 md:px-12 xl:px-32">
        <div class="mb-16 text-center">
            <h2 class="mb-4 text-center text-2xl text-gray-900 font-bold md:text-4xl">Contact Us page</h2>
            <h4 class="text-center text-xl text-gray-900 font-bold md:text-2xl mb-4">Email us - makeit@juxforyou.com</h4>
            <p class="mt-4 text-gray-600 text-base lg:w-8/12 lg:mx-auto">JUX was born of a desire to bring harmony to the juxtaposition of users and technology, helping real, genuine people who want to sell their services, connect with other real, genuine people who want to buy those services.</p>
        </div>
        <div class="grid gap-12 items-center md:grid-cols-3">
            <div class="space-y-4 text-center">
                <img class="w-64 h-64 mx-auto object-cover rounded-xl md:w-40 md:h-40 lg:w-64 lg:h-64" 
                    src="https://i.imgur.com/6uK6L8l.jpg" 
                    alt="Amy, a laughing woman" loading="lazy" width="640" height="805">
                <div>
                    <h4 class="text-2xl">Amy</h4>
                    <span class="block text-sm text-gray-500 mb-4">CEO / Content Designer / SEO Specialist</span>
                    <span class="block text-sm text-gray-500"> Type A, nit-picky and organised, Amy's brains of this organisation (the right side anyway).
                    Project manager, content writer and templating-extraordinaire, Amy's all about getting those fine details right so that they don't get in the way of a good user experience.
                    </span>
                </div>
            </div>
            <div class="space-y-4 text-center">
                <img class="w-64 h-64 mx-auto object-cover rounded-xl md:w-48 md:h-64 lg:w-64 lg:h-80 bg-right" 
                    src="https://i.imgur.com/nIZ2b9f.jpg" 
                    alt="Jarryd, a smiling man" loading="lazy" width="1000" height="667">
                <div>
                    <h4 class="text-2xl">Jarryd</h4>
                    <span class="block text-sm text-gray-500 mb-4">Designer / Programmer / Accessibility Advocate</span>
                    <span class="block text-sm text-gray-500">Funny (or so he thinks), spontaneous and quirky, 
                    Jarryd's thinks he's the brains of this organisation (hint: he's not!).
                    Chief designer, design student and diversity and inclusion specialist. Jarryd is the creative juices and beating heart of JUX design. 
                    </span>
                </div>
            </div>
            <div class="space-y-4 text-center">
                <img class="w-64 h-64 mx-auto object-cover rounded-xl md:w-40 md:h-40 lg:w-64 lg:h-64" 
                    src="https://i.imgur.com/hnr5xVl.jpg" 
                    alt="a cute puppy" loading="lazy" width="1000" height="667">
                <div>
                    <h4 class="text-2xl">Ruby</h4>
                    <span class="block text-sm text-gray-500 mb-4">Chief Wellness Officer</span>
                    <span class="block text-sm text-gray-500">Wellbeing is our number 1 priority here at JUX. Your wellbeing, but also our own. 
                    That's why we've hired Ruby as our Chief wellness officer. She prescribes frequent naps, walks outside and plenty of vitamin D. 
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

{% endif %}
{% endfor %}