{% for item in collections.sections %}
  {% if item.data.type === 'portfolio' %}
<div class="w-full min-h-screen flex flex-col justify-center items-center">		
	<div class="w-full items-left container px-2 md:px-6 lg:px-4 max-w-6xl mx-auto">
		<nav class="flex py-6" aria-label="Breadcrumb">
			<ol role="list" class="flex overflow-hidden text-gray-800 border border-gray-800 rounded-lg">
				<li class="flex items-center">
				<a class="flex items-center h-10 px-4 transition-colors bg-gray-200 hover:text-gray-900" href="/">
					<svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
					</svg>
					<span class="ml-1.5 font-medium text-xs"> Home </span>
				</a>
				</li>

				<li class="relative flex items-center">
				<span class="absolute inset-y-0 w-4 h-10 bg-gray-200 -left-px clip"> </span>
				<a
					class="flex items-center h-10 pl-6 pr-2 text-xs transition-colors bg-gray-50 hover:text-gray-900"
					href="/portfolio"
				>
					Portfolio
				</a>
				</li>
			</ol>
		</nav>
	</div>  
	
    <!--Container-->
		<div class="container py-6 md:px-0 lg:px-2 max-w-6xl mx-auto">
			
			<div class="mx-2">
				
				<div class="bg-gray-200 w-full text-xl md:text-2xl text-gray-800 leading-normal rounded-t">
					
				<!--Lead Card-->
				<div class="flex h-full p-2 rounded-t rounded-b-none overflow-hidden">
					<a href="/seasonall" class="flex bg-ofscGreen flex-wrap rounded-t rounded-b-none no-underline hover:no-underline">
						<div class="my-auto w-full md:w-2/3 rounded-t">	
							<img src="/assets/img/seasonall/seasonallPreview.png" class="inline-block align-middle rounded-t w-full shadow p-2 md:p-0">
						</div>

						<div class="w-full md:w-1/3 flex flex-col flex-grow flex-shrink">
							<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
								<p class="w-full text-gray-600 text-xs md:text-sm pt-6 px-6">HTML, TailwindCSS & Javascript</p>
								<div class="w-full font-bold text-xl text-gray-900 px-6 mb-2">Seasonall</div>
								<p class="text-gray-800 font-serif text-base px-6 mb-4">
									The JUX team are avid travellers so when given free reign at UC Jarryd spent a semester developing a website to help them do just that.
								</p>
							</div>
						</div>
					</a>
				</div>

				<!--Top Container-->
				<div class="flex flex-wrap justify-between py-12 sm:-mx-2 lg:mx-0">
					<!--1/2 col -->
					<div class="w-full md:w-1/2 p-2 flex flex-col flex-grow flex-shrink">
						<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
							<a href="/authenticbuyers" class="flex flex-wrap no-underline hover:no-underline">
								<img src="/assets/img/authenticbuyers/stacked.svg" class="mx-auto h-full md:h-64 rounded-t p-2">
								<p class="w-full text-gray-600 text-xs md:text-sm px-6">Adobe Illustrator</p>
								<div class="w-full font-bold text-lg text-gray-900 px-6">Authentic Buyers Agency</div>
								<p class="text-gray-800 font-serif text-base px-6 mb-2">
								Josh and Claudia from Authentic Buyers Agency came to JUX for help in establishing their new companies branding.
								</p>
								<p class="text-gray-800 font-serif text-base px-6 mb-5">
								Claudia and Jarryd had already worked together on another project and knew JUX would deliver exactly what they needed.
								</p>
							</a>
						</div>
					</div>
					
				
					{# <div class="w-full md:w-1/3 p-3 flex flex-col flex-grow flex-shrink">
						<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
							<a href="/seasonall" class="flex flex-wrap no-underline hover:no-underline">
								<img src="/assets/img/seasonall/seasonallPreview.png" class="mx-auto h-full md:h-64 rounded-t p-2">
								<p class="w-full text-gray-600 text-xs md:text-sm px-6">HTML, TailwindCSS & Javascript </p>
								<div class="w-full font-bold text-xl text-gray-900 px-6">Seasonall</div>
								<p class="text-gray-800 font-serif text-base px-6 mb-2">
								The JUX team are avid travellers so when given free reign at UC Jarryd spent a semester developing a website to help them do just that. 
							</a>
							</div>
					</div>  #}
					

					<!--1/2 col -->
					<div class="w-full md:w-1/2 p-3 flex flex-col flex-grow flex-shrink">
						<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
							<a href="/nourish" class="flex flex-wrap no-underline hover:no-underline">
								<img src="/assets/img/nourish/nourishPortfolio.png" class="mx-auto h-full md:h-64 rounded-t p-2">
								<p class="w-full text-gray-600 text-xs md:text-sm px-6">NextJS, Nunjuks, TailwindCSS</p>
								<div class="w-full  font-bold text-xl text-gray-900 px-6">Choose Nourish</div>
								<p class="text-gray-800 font-serif text-base px-6 mb-5">
									Choose Nourish is a food blog that focuses on dietary requirements and restrictions. It supports visitors to find recipes that are right for them.
								</p>
							</a>
						</div>
					</div>		
				</div>

				<!--Bottom Container-->
				<div class="flex flex-wrap justify-between pb-6 mx-2 lg:mx-0">
				
										<!--1/3 col -->
					<div class="w-full md:w-1/ p-3 flex flex-col flex-grow flex-shrink">
						<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
							<a href="/reshape" class="flex flex-wrap no-underline hover:no-underline">
								<img src="/assets/img/reshape/reshapeWebsite.png" class="mx-auto h-full md:h-64 rounded-t p-2">
								<p class="w-full text-gray-600 text-xs md:text-sm px-6">Adobe Illustrator</p>
								<div class="w-full  font-bold text-xl text-gray-900 px-6">Reshape</div>
								<p class="text-gray-800 font-serif text-base px-6 mb-5">
								Built on user testing and validation from players aged under 20 to 60+ Reshape is a unique and fast paced game conceptualised, designed and created by the JUX team.								
								</p>
							</a>
						</div>
					</div>	
					<!--1/3 col -->
					<div class="w-full md:w-1/3 p-3 flex flex-col flex-grow flex-shrink">
						<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
							<a href="/sts" class="flex flex-wrap no-underline hover:no-underline">
								<img src="/assets/img/sts/PortfolioImageSTS.png" class="mx-auto h-full md:h-64 rounded-t p-2">
								<p class="w-full text-gray-600 text-xs md:text-sm px-6">HTML, CSS & Javascript </p>
								<div class="w-full font-bold text-xl text-gray-900 px-6">Sampling the Stars</div>
								<p class="text-gray-800 font-serif text-base px-6 mb-2">
									Sampling the Stars website was a complex project which helped Jarryd develop his knowledge in HTML, CSS, JavaScript, APIs and animation. 
									<br> <br> 
									It was built to show users how music samples from as far back as 1955 could appear 57 years later in radio hits from 2012. 								
								</p>
							</a>
						</div>
					</div> 
				<!--1/3 col -->
					<div class="w-full md:w-1/3 p-2 flex flex-col flex-grow flex-shrink">
						<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
							<a href="/goulashgalley" class="flex flex-wrap no-underline hover:no-underline">
								<img src="/assets/img/goulashgalley/brand.svg" class="mx-auto h-full md:h-64 rounded-t p-2">
								<p class="w-full text-gray-600 text-xs md:text-sm px-6">Adobe Illustrator</p>
								<div class="w-full font-bold text-lg text-gray-900 px-6">Goulash Galley</div>
								<p class="text-gray-800 font-serif text-base px-6 mb-2">
								Veronica from Goulash Galley in Tharwa knew exactly what she wanted for the kitchen's logo when she contacted JUX. Armed with examples and mock-ups, Veronica was hoping for quick delivery of the final design.  She wasn't disappointed. 
								</p>
								<p class="text-gray-800 font-serif text-base px-6 mb-5">
								 Inspired by Hungarian folk art, culture and colours, came together in under a month. Jarryd worked closely with Veronica the whole time, collaborating to get things just right.
								</p>
							</a>
						</div>
					</div>
	
				</div>
    </div>
  {% endif %}
{% endfor %}