<div id="peek" class="my-8 container bg-gray-100 px-0 lg:px-4 max-w-6xl mx-auto">
  <div class="mx-auto w-full justify-center items-center">
    <div class="text-center">
      <h3 class="text-2xl lg:text-3xl font-bold">
          Portfolio sneak peek
      </h3>         
      <h2 class="mt-8 text-2xl lg:text-3xl tracking-wide font-bold">
          Goulash Galley
      </h2>  
      </div>
  </div>
  <div class="flex flex-wrap justify-between py-6">
    <div class="w-full lg:w-1/4 p-6 flex flex-col flex-grow flex-shrink">
      <div class="flex-1 rounded-t rounded-b-none overflow-hidden shadow-lg">
        <a href="/goulashgalley" class="flex flex-wrap no-underline hover:no-underline h-full">
          <img src="/assets/img/goulashgalley/bnw_brand.png" class="object-cover rounded-t">
        </a>
      </div>
    </div>

    <div class="w-full lg:w-2/5 p-6 flex flex-col flex-grow flex-shrink">
      <div class="flex-1 rounded-t rounded-b-none overflow-hidden shadow-lg">
        <a href="/goulashgalley" class="flex flex-wrap no-underline hover:no-underline w-full">
          <img src="/assets/img/goulashgalley/hungary.svg" class="object-cover rounded-t">
        </a>
      </div>
		</div>

    <div class="w-full lg:w-1/4 p-6 flex flex-col flex-grow flex-shrink">
				<div class="flex-1 rounded-t rounded-b-none overflow-hidden shadow-lg">
          <a href="/goulashgalley" class="flex flex-wrap no-underline hover:no-underline h-full">
            <img src="/assets/img/goulashgalley/mockup.png" class="object-cover rounded-t">
          </a>
				</div>
		</div>		
  </div> 

  <div class="w-48 text-center mx-auto flex flex-col flex-grow flex-shrink">
      <a href="/portfolio" class="inline-block w-fit px-6 py-3 mt-6 text-sm text-gray-800 bg-pink-950 rounded">
      View portfolio
      </a>
  </div>    
</div>