{% for item in collections.sections %}
{% if item.data.type === 'blog' %}  

<div class="w-full min-h-screen flex flex-col justify-center items-center">		
  
  <!--Breadcrumbs-->
  <div class="w-full items-left container px-2 md:px-6 lg:px-4 max-w-6xl mx-auto">
    <nav class="flex py-6" aria-label="Breadcrumb">
      <ol role="list" class="flex overflow-hidden text-gray-800 border border-gray-800 rounded-lg">
        <li class="flex items-center">
        <a class="flex items-center h-10 px-4 transition-colors bg-gray-200 hover:text-gray-900" href="/">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
          </svg>
          <span class="ml-1.5 font-medium text-xs"> Home </span>
        </a>
        </li>

        <li class="relative flex items-center">
        <span class="absolute inset-y-0 w-4 h-10 bg-gray-200 -left-px clip"> </span>
        <a
          class="flex items-center h-10 pl-6 pr-2 text-xs transition-colors bg-gray-50 hover:text-gray-900"
          href="/blog"
        >
          Blog
        </a>
        </li>
      </ol>
    </nav>
  </div>  


	<!--Content-->
	<div class="container px-0 lg:px-2 mx-auto justify-center items-center">
      
    <!--Intro-->
    <div class="w-full flex flex-col flex-grow flex-shrink">	
      <div class="p-6 text-center items-center mx-auto overflow-hidden">
        <h1 class= "mx-auto text-center text-gray-800 font-bold text-2xl md:text-5xl">Title</h1>
        <p class="max-w-xl mx-auto mt-4 text-gray-800">
        Text here
        </p>
      </div> 
    </div> 

    <!--Container background, goes under intro-->
    <div class="mx-0 md:mx-2 animatedbg min-h-screen w-full">

      <!--First Card Box-->
      <div class="flex h-full p-2 md:p-6 lg:p-10 rounded overflow-hidden items-center">
        <div class="w-full py-6 md:py-12 mx-auto flex bg-white flex-wrap rounded items-center">

          <!--Left Card--> 
          <div class="w-full md:w-1/2 flex flex-col flex-grow flex-shrink order-last md:order-first">
            <div class="flex-1 bg-white px-2 md:px-6 rounded overflow-hidden">
              <h2 class="w-full text-center font-bold text-3xl lg:text-5xl text-gray-800 py-4 md:py-6">Heading</h2>
                <div class="max-w-xl space-y-4 text-left text-md text-gray-600">

                  <h4 class="font-bold text-xl md:text-2xl xl:text-4xl">Subtitle</h4>
                  <p>
                    Text here
                  </p>

                  <h4 class="mt-4 font-bold text-xl md:text-2xl xl:text-4xl">Subtitle</h4>            
                  <p>
                   Text here
                  </p>

                  <h4 class="mt-4 font-bold text-xl md:text-2xl xl:text-4xl">Subtitle</h4>
                  <p>
                    Text here  
                  </p>

                  <h4 class="mt-4 font-bold text-xl md:text-2xl xl:text-4xl">Subtitle</h4>            
                  <p>
                    Text here
                  </p>

                  <h4 class="mt-4 font-bold text-xl md:text-2xl xl:text-4xl">Subtitle</h4>                
                  <p> 
                     Text here
                  </p>
                  <p class="-mt-3">
                     Text here
                    </p>

                </div>
            </div>
          </div>

          <!--Right Card--> 
          <div class="w-full h-full mt-6 md:mt-0 md:w-1/2 flex flex-col flex-grow flex-shrink order-first md:order-last">	
            <div class="flex-1 items-center overflow-hidden">	
            <img
              class="object-cover items-center mx-auto w-full h-48 sm:h-80 md:h-3/4 p-2 sm:p-4 md:p-6"
              src="https://images.unsplash.com/photo-1580052484993-08915f20deae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80"
              alt="A reflection of the photographers eye is captured in a peice of a mirror they are holding"
            />
            </div>
          </div>
        </div>
      </div>

      <!--Second Card Box-->
      <div class="flex h-full p-2 md:p-6 lg:p-10 rounded overflow-hidden items-center">
        <div class="w-full py-6 md:py-12 mx-auto flex bg-white flex-wrap rounded items-center">

          <!--Left Card image--> 
          <div class="w-full h-full mt-6 md:mt-0 md:w-1/2 flex flex-col flex-grow flex-shrink">	
            <div class="flex-1 items-center overflow-hidden">	
              <img
              class="object-cover items-center mx-auto w-full h-48 sm:h-80 md:h-3/4 p-2 sm:p-4 md:p-6"
              src="https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
              alt="Colleagues high-fiving"
              />
            </div>
          </div>
          
          <!--Right Card text--> 
          <div class="w-full md:w-1/2 flex flex-col flex-grow flex-shrink">
            <div class="flex-1 bg-white px-2 md:px-6 rounded overflow-hidden">
              <h2 class="w-full text-center font-bold text-3xl lg:text-5xl text-gray-800 py-4 md:py-6">Heading</h2>
              <div class="max-w-xl space-y-4 text-left text-md text-gray-600">
                
                <h4 class="font-bold text-xl md:text-2xl xl:text-4xl">
                  Subtitle
                </h4>

                <p class="">
                  Text here
                </p>

                <p>
                  Text here
                </p>

                <p>
                  Text here
                </p>

                <p>
                 Text here   
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
{% endif %}
{% endfor %}