<div id="peek" class="bg-ofscGreen py-6 w-[100vw] px-auto">
  <div class="mx-auto w-full justify-center items-center text-gray-800">
    <div class="text-center">
 <h2 class="tracking-wide text-gray-gray-800 font-bold font-display text-6xl mb-4">Portfolio</h2>
     

  </div>
  <div class="flex flex-wrap justify-between pt-6">
    <div class="w-full lg:w-3/4 p-6 flex flex-col flex-grow flex-shrink">
      <div class="flex-1 rounded-t rounded-b-none overflow-hidden shadow-lg">
        <a href="/ofsc" class="flex flex-wrap no-underline hover:no-underline h-full">
          <img src="/assets/img/ofsc/ofscPreview.png" class="object-cover rounded-t">
        </a>
      </div>
    </div>
  </div>

  <div class="w-48 text-center mx-auto flex flex-col flex-grow flex-shrink mb-6">
      <a href="/portfolio" class=" font-bold inline-block w-fit px-6 py-3 mt-2 text-sm text-gray-800 bg-pink-950 rounded">
      View portfolio
      </a>
  </div>    
</div>