<div class="w-full min-h-screen flex flex-col justify-center items-center">		
  <div class="w-full items-left container px-2 md:px-6 lg:px-4 max-w-6xl mx-auto">
    <nav class="flex py-6" aria-label="Breadcrumb">
      <ol role="list" class="flex overflow-hidden text-gray-800 border border-gray-800 rounded-lg">
        <li class="flex items-center">
        <a class="flex items-center h-10 px-4 transition-colors bg-gray-200 hover:text-gray-900" href="/">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
          </svg>
          <span class="ml-1.5 font-medium text-xs"> Home </span>
        </a>
        </li>

        <li class="relative flex items-center">
        <span class="absolute inset-y-0 w-4 h-10 bg-gray-200 -left-px clip"> </span>
        <a
          class="flex items-center h-10 pl-6 pr-2 text-xs transition-colors bg-gray-50 hover:text-gray-900"
          href="/contactus"
        >
          Contact us
        </a>
        </li>
      </ol>
    </nav>
  </div>  

	<!--Container-->
	<div class="container px-0 lg:px-2 mx-auto justify-center items-center">
		<div class="mx-0 md:mx-2 animatedbg min-h-screen w-full">

        <!--Card Box-->
				<div class="flex h-full p-2 md:p-6 lg:p-10 rounded overflow-hidden items-center">
					<div class="w-full py-6 md:py-12 mx-auto flex bg-white flex-wrap rounded items-center">

            <!--Left Card--> 
						<div class="w-full md:w-1/2 flex flex-col flex-grow flex-shrink">
							<div class="flex-1 bg-white px-2 md:px-6 rounded overflow-hidden">
								<h2 class="w-full text-center font-bold text-3xl lg:text-5xl text-gray-800 py-2 md:py-6">Contact Us</h2>
                  <div class="max-w-xl text-gray-800">
                    <h3 class="mt-4 text-xl font-bold">What can we do for you?</h3>
                    <p class="mt-4 text-md">
                      JUX is an Interaction Design company that supports businesses to make user-focused designs for branding, web and print.
                    </p>
                    <p class="mt-2 text-md">
                      We design and create experiences tailored just for you and your business, no cookie-cutter templates here 
                    </p>

                    <h3 class="mt-8 text-xl font-bold"> Where is JUX?</h3>
                    <p class="mt-4 text-md">
                      JUX is on the southside! Of Canberra that is. 
                      Although we're Canberra based, we're happy to help you with designs anywhere in the world. 
                    </p> 
                    
                    <h2 class="mt-6 text-lg font-bold"> Meetings</h2>
                    <p class="mt-2 text-md">
                      As long as we're not in another COVID lockdown, we're more than happy to meet up with you for coffee anywhere in CBR, we don't even mind a cheeky road trip sometimes. 
                    </p> 
                    <p class="mt-2 text-md">
                      If you'd prefer, we are happy to meet for virtual coffee, no matter where you are.
                    </p> 

                    <p class="mt-6 font-bold text-xs">
                      Note: Our founders, Amy and Jarryd, only speak English (for now).
                    </p>
                    <p class="mt-2 text-xs">
                    Please let us know if your project needs translated material.
                    </p> 
                  </div>
						  </div>
				  	</div>

            <!--Right Card--> 
						<div class="w-full h-full mt-6 md:mt-0 md:w-1/2 flex flex-col flex-grow flex-shrink">	
              <div class="flex-1 bg-white text-center items-center mx-auto overflow-hidden">
                <p class= "w-2xl shadow-xl sm:w-full mx-auto visible md:invisible animatedbg text-center text-gray-50 font-bold text-xl">Get in touch</p>
                <p class= "w-2xl sm:w-full mx-auto invisible md:visible bg-white text-center text-gray-800 font-bold text-xl">Get in touch</p>
                <h2 class="mt-4 mx-auto items-center text-xl lg:text-2xl xl:text-4xl tracking-wider font-bold text-pink-950 px-6">makeit@juxforyou.com</h2>
                <h2 class="mt-4 mx-auto items-center pb-6 text-xl lg:text-2xl xl:text-4xl tracking-wider font-bold text-gray-800 px-6">0412 304 261</h2>

						  </div> 
            </div>
          </div>
				</div>
			</div>
    </div>	
	</div>			
</div>