<div class="flex flex-col justify-center h-full py-12">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h1 class="tracking-wide text-pink-950 text-7xl mb-6 font-display">JUX <span
          class="text-gray-50 font-bold text-4xl tracking-wide-ml-4 mb-32">for you</span></h1>
      <h2 class="text-gray-50 font-bold tracking-wider text-3xl">We can help you design </h1>
        <span class="content__container block font-tight text-pink-950 font-display -ml-4 text-4xl my-6">
          <ul class="content__container__list">
            <li class="content__container__list__item xl:pl-3">logos</li>
            <li class="content__container__list__item xl:pl-3">websites</li>
             <li class="content__container__list__item xl:pl-3">branding</li>
            <li class="content__container__list__item xl:pl-3">content</li> 
            <li class="content__container__list__item xl:pl-3">packaging</li>            
            <li class="content__container__list__item xl:pl-3">infographics</li>  
            <li class="content__container__list__item xl:pl-3">advertising</li>
          </ul>
        </span>
        <p class="text-gray-50 font-bold tracking-wider mb-4 text-2xl">no cookie cutters, just for you</p>
    </div>
    <div class="w-full sm:w-1/2">
      <img class="w-3/5 mx-auto pb-6" src="/img/doublebubble.svg" alt="JUX Logo">
    </div>
  </div>
</div>
<div class="flex flex-row w-full justify-center pb-12">
  <a class="px-10 py-2 text-slate-50 bg-pink-950 rounded-full shadow-md text-lg hover:bg-gray-50 hover:border-red"
    href="#about">More information</a>
</div>