<div id="peek" class="my-8 container bg-gray-100 px-0 lg:px-4 max-w-6xl mx-auto">
  <div class="mx-auto w-full justify-center items-center">
    <div class="text-center">
      <h3 class="text-2xl lg:text-3xl font-bold">
          Portfolio sneak peek
      </h3>         
      <h2 class="mt-8 text-3xl lg:text-4xl tracking-wide font-bold">
          Goulash Galley
      </h2>  
      </div>
  </div>
  <div class="flex flex-wrap justify-between py-6">
    <div class="w-full lg:w-1/4 p-6 flex flex-col flex-grow flex-shrink">
      <div class="flex-1 rounded-t rounded-b-none overflow-hidden shadow-lg">
        <a href="/goulashgalley" class="flex flex-wrap no-underline hover:no-underline h-full">
          <img src="/assets/img/goulashgalley/bnw_brand.png" class="object-cover rounded-t">
        </a>
      </div>
    </div>

    <div class="w-full lg:w-2/5 p-6 flex flex-col flex-grow flex-shrink">
      <div class="flex-1 rounded-t rounded-b-none overflow-hidden shadow-lg">
        <a href="/goulashgalley" class="flex flex-wrap no-underline hover:no-underline w-full">
          <img src="/assets/img/goulashgalley/hungary.svg" class="object-cover rounded-t">
        </a>
      </div>
		</div>

    <div class="w-full lg:w-1/4 p-6 flex flex-col flex-grow flex-shrink">
				<div class="flex-1 rounded-t rounded-b-none overflow-hidden shadow-lg">
          <a href="/goulashgalley" class="flex flex-wrap no-underline hover:no-underline h-full">
            <img src="/assets/img/goulashgalley/mockup.png" class="object-cover rounded-t">
          </a>
				</div>
		</div>		
  </div> 

  <div class="w-48 text-center mx-auto flex flex-col flex-grow flex-shrink">
      <a href="/portfolio" class="inline-block w-fit px-6 py-3 mt-6 text-sm text-gray-800 bg-pink-950 rounded">
      View portfolio
      </a>
  </div>    
</div>
{# 
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 lg:items-stretch items-center ">
      <div class="flex items-center p-8 bg-gray-100 rounded">
        
      </div>

         <p class="mt-4 text-xl text-gray-700 max-w-[45ch]">
           Goulash Galley Tharwa
          </p>
      <div class="grid grid-cols-2 gap-4 lg:col-span-2 lg:grid-cols-3 lg:py-12">
        <a
          href="/portfolio"
          class="block"
        >
          <div class="pt-4 h-64 sm:h-32 md:h-40 lg:h-48 overflow-hidden">
            <img
              loading="lazy"
              alt="Goulash Galley Brandmark"
              class="object-cover object-center rounded overflow-hidden"
              src="https://i.imgur.com/rDlMjoa.png"
            />
          </div>

          <div class="mt-2">
            <h5 class="font-medium">
              Brandmark, Red on Red
            </h5>

            <p class="mt-1 text-sm text-gray-700">
              Made with Adobe Illustrator
            </p>
          </div>
        </a>

        <a
          href="/portfolio"
          class="block"
        >
          <div class="h-64 sm:h-32 md:h-40 lg:h-48 overflow-hidden">
            <img
              loading="lazy"
              alt="Goulash Galley Logomark"
              class="object-contain object-center rounded overflow-hidden"
              src="https://i.imgur.com/ohpJCCx.png"
            />
          </div>

          <div class="mt-2">
            <h5 class="font-medium">
              Logomark, Black on White
            </h5>

            <p class="mt-1 text-sm text-gray-700">
              Made with Adobe Illustrator
            </p>
          </div>
        </a>

        <a
          href="/portfolio"
          class="block"
        >
          <div class="h-64 sm:h-32 md:h-40 lg:h-48 overflow-hidden">
            <img
              loading="lazy"
              alt="Goulash Galley Packaging mockup"
              class=" object-contain object-center rounded overflow-hidden"
              src="https://i.imgur.com/cOuO9pK.jpg"
            />
          </div>

          <div class="mt-2">
            <h5 class="font-medium">
              Packaging mockup
            </h5>

            <p class="mt-1 text-sm text-gray-700">
              Adobe Illustrator & Photoshop
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
 #}