{% for item in collections.sections %}
{% if item.data.type === 'story' %}
  
<div class="w-full min-h-screen flex flex-col justify-center items-center">		
	<div class="w-full items-left container px-2 md:px-6 lg:px-4 max-w-6xl mx-auto">
		<nav class="flex py-6" aria-label="Breadcrumb">
			<ol role="list" class="flex overflow-hidden text-gray-800 border border-gray-800 rounded-lg">
				<li class="flex items-center">
				<a class="flex items-center h-10 px-4 transition-colors bg-gray-200 hover:text-gray-900" href="/">
					<svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
					</svg>
					<span class="ml-1.5 font-medium text-xs"> Home </span>
				</a>
				</li>

				<li class="relative flex items-center">
				<span class="absolute inset-y-0 w-4 h-10 bg-gray-200 -left-px clip"> </span>
				<a
					class="flex items-center h-10 pl-6 pr-2 text-xs transition-colors bg-gray-50 hover:text-gray-900"
					href="/story"
				>
					About us
				</a>
				</li>
			</ol>
		</nav>
	</div>  
     
   <div class="container mx-auto bg-gray-50 py-6 px-6 md:px-12 xl:px-32">
        <div class="mb-16 text-center">
            <h2 class="mb-4 text-center text-2xl text-gray-900 font-bold md:text-4xl">We're all about creating custom designs and solutions just for you</h2>
            <h4 class="text-center text-xl text-gray-900 font-bold md:text-2xl mb-4">There are no cookie cutters here</h4>
            <p class="mt-4 text-gray-600 text-base lg:w-8/12 lg:mx-auto">JUX was born of a desire to bring harmony to the juxtaposition of users and technology, helping real, genuine people who want to sell their services, connect with other real, genuine people who want to buy those services.</p>
        </div>
        <div class="grid gap-12 items-center md:grid-cols-3">
            <div class="space-y-4 text-center">
                <img class="w-64 h-64 mx-auto object-cover rounded md:w-40 md:h-40 lg:w-64 lg:h-64" 
                    src="/assets/img/aboutus/amy.jpeg" 
                    alt="Amy laughing while in nature " loading="lazy" width="640" height="805">
                <div>
                    <h4 class="text-2xl">Amy</h4>
                            <span class="block text-sm text-gray-500 font-bold mb-4">CEO / Content Designer / SEO Specialist</span>
                            <span class="block text-sm text-gray-500"> Type A, nit-picky and organised, Amy's brains of this organisation (the right side anyway).
                            Project manager, content writer and templating-extraordinaire, Amy's all about getting those fine details right so that they don't get in the way of a good user experience.
                            </span>
                </div>
            </div>
            <div class="space-y-4 text-center">
                        <img class="w-64 h-64 mx-auto object-cover rounded md:w-48 md:h-64 lg:w-64 lg:h-80 object-right" 
                            src="/assets/img/aboutus/jarryd.jpeg" 
                            alt="Jarryd smiling while sitting at a table" loading="lazy" width="1000" height="667">
                <div>
                        <h4 class="text-2xl">Jarryd</h4>
                        <span class="block text-sm text-gray-500 font-bold mb-4">Designer / Programmer / Accessibility Advocate</span>
                        <span class="block text-sm text-gray-500">Funny (or so he thinks), spontaneous and quirky, 
                        Jarryd's thinks he's the brains of this organisation (hint: he's not!).
                        Chief designer, design student and diversity and inclusion specialist. Jarryd is the creative juices and beating heart of JUX design. 
                        </span>
                </div>
            </div>
            <div class="space-y-4 text-center">
                <img class="w-64 h-64 mx-auto object-cover rounded md:w-40 md:h-40 lg:w-64 lg:h-64" 
                    src="/assets/img/aboutus/ruby.jpeg" 
                    alt="Ruby being a cutie in an outdoor living space" loading="lazy" width="1000" height="667">
                <div>
                        <h4 class="text-2xl">Ruby</h4>
                        <span class="block text-sm text-gray-500 font-bold mb-4">Chief Wellness Officer</span>
                        <span class="block text-sm text-gray-500">Wellbeing is our number 1 priority here at JUX. Your wellbeing, but also our own. 
                        That's why we've hired Ruby as our Chief wellness officer. She prescribes frequent naps, walks outside and plenty of vitamin D. 
                        </span>
                </div>
            </div>
        </div>
    </div>  
  </div>  
</div>  
{% endif %}
{% endfor %}