<div class="w-full min-h-screen flex flex-col justify-center items-center">		
	<div class="w-full items-left container px-2 md:px-6 lg:px-4 max-w-6xl mx-auto">
		<nav class="flex py-6" aria-label="Breadcrumb">
			<ol role="list" class="flex overflow-hidden text-gray-800 border border-gray-800 rounded-lg">
				<li class="flex items-center">
				<a class="flex items-center h-10 px-4 transition-colors bg-gray-200 hover:text-gray-900" href="/">
					<svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
					</svg>
					<span class="ml-1.5 font-medium text-xs"> Home </span>
				</a>
				</li>

				<li class="relative flex items-center">
				<span class="absolute inset-y-0 w-4 h-10 bg-gray-200 -left-px clip"> </span>
				<a
					class="flex items-center h-10 pl-6 pr-2 text-xs transition-colors bg-gray-200 hover:text-gray-900"
					href="/portfolio"
				>
					Portfolio
				</a>
				</li>
				<li class="relative flex items-center">
				<span class="absolute inset-y-0 w-4 h-10 bg-gray-200 -left-px clip"> </span>
				<a
					class="flex items-center h-10 pl-6 pr-2 text-xs transition-colors bg-gray-50 hover:text-gray-900"
					href="/ofsc"
				>
					Office of the Federal Safety Commissioner
				</a>
				</li>
			</ol>
		</nav>
	</div>
	<!--Container-->
	<div class="container md:px-0 lg:px-2 max-w-6xl mx-auto">
		<div class="mx-2">
			<div class="bg-gray-200 w-full text-xl md:text-2xl text-gray-800 leading-normal rounded-t">
				<!--Lead Card-->
				<div class="flex h-full p-2 md:p-0 rounded-t rounded-b-none overflow-hidden">
					<div class="flex bg-ofscGreen flex-wrap rounded-t rounded-b-none no-underline hover:no-underline">
						<div class="my-auto w-full md:w-2/3 rounded-t">	
							<img src="/assets/img/ofsc/ofscPreview.png" class="inline-block align-middle rounded-t w-full shadow p-2 md:p-0">
						</div>

						<div class="w-full md:w-1/3 flex flex-col flex-grow flex-shrink">
							<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
								<p class="w-full text-gray-600 text-xs md:text-sm pt-6 px-6">Figma</p>
								<div class="w-full font-bold text-xl text-gray-900 px-6 mb-2">Office of the Federal Safety Commissioner</div>
								<p class="text-gray-800 font-serif text-base px-6">
									As a User Interface Designer at the Department of Workplace Relations I’ve used Figma, Microsoft Dynamics 365 and front-end web development to support the refurbishment of the Office of the Federal Safety Commissioner’s internal system. 
								</p>
								<p class="mt-2 text-gray-800 font-serif text-base px-6 pb-3"> 
									I currently work with the business operations, development and service design teams to build a better user interface for the new systems, ensuring that staff who use the systems have a voice advocating for a better user experience.
								</p>
							</div>
						</div>
					</div>
				</div>



				{# Wide image card - Text #}
	
					<div class="flex flex-col my-12">
					<div class="bg-white w-full text-xl md:text-2xl text-gray-800 leading-normal rounded-t">
						<div class="w-full font-bold text-xl text-gray-900 px-6 pt-6 my-2">	Landing Page</div>
					</div>
					<img class="mx-auto relative w-[80vw] object-contain" src="/assets/img/ofsc/ofscLanding.png"/>
				</div>

				{# Wide image card - Text #}
	
					<div class="flex flex-col my-12">
					<div class="bg-white w-full text-xl md:text-2xl text-gray-800 leading-normal rounded-t">
						<div class="w-full font-bold text-xl text-gray-900 px-6 pt-6 my-2">	Dashboard</div>
					</div>
					<img class="mx-auto relative w-[80vw] object-contain" src="/assets/img/ofsc/ofscDashboard.png"/>
				</div>

				{# Wide image card - Text #}
	
					<div class="flex flex-col my-12">
					<div class="bg-white w-full text-xl md:text-2xl text-gray-800 leading-normal rounded-t">
						<div class="w-full font-bold text-xl text-gray-900 px-6 pt-6 my-2">	Calendar</div>
					</div>
						<img class="mx-auto relative w-[80vw] object-contain" src="/assets/img/ofsc/ofscCalendar.png"/>
					</div>

			</div>
		</div>
	</div>			
</div>