<div class="p-8 min-w-full min-h-full bg-gray-100">
<div class="my-8 animatedbg min-h-1/2 text-white lg:grid lg:grid-cols-2 lg:items-center ">
	<div class="text-center sm:p-16 lg:p-24 lg:text-left">
		<div class="max-w-3xl mx-auto lg:ml-0 lg:pt-12">
			<p class="text-3xl font-bold sm:text-4xl">
				Authentic Buyers Agency
			</p>

			<p class="mt-4">
			Established in 2021, Authentic buyers agency may be a company in its infancy in terms of time, but it's mature in its ideals. Claudia and Josh, joint partners of the company, came to JUX wanting to create a logo that demonstrated these ideals, a logo that presented their company as not just authentic, but also friendly, affordable and "on your side". 
			<br><br>
			For most people, buying real estate is something we only do a handful of times. This means that it can be scary and overwhelming. Add to this the tricks of the industry, off-market sales and a growing number of properties with no price guide, many buyers feel like they're locked out of a market that's moving too fast for them.
			<br><br>
			We worked closely with Claudia and Josh to bring these ideals to life, bringing colour, design and usability together to create an Authentic buyers agency logo that they not only love, but that represents everything they, and their company, stand for. 
			<br><br>
			Representing an unlocked market, and finding your way, the final Authentic buyers agency logo tells a story.
		</p>
		</div>
	</div>
		
		<div class="relative w-full h-3/4 rounded hover:scale-150 hover:-translate-y-1">
		<img
			class="mx-auto object-cover h-64 lg:h-3/4"
			src="/assets/img/authenticbuyers/brand.svg"
			alt=""
		/>
		</div>

<div class="m-16 flex col-span-2 flex-row w-full justify-center">
       <a class="px-10 py-2 text-gray-800 bg-pink-950 rounded-lg shadow-md text-lg hover:bg-gray-800 hover:text-gray-50" href="#more">See more</a>
</div>
</div>

<div id="more" class="bg-gray-100 min-h-1/2 grid grid-cols-1 h-64 gap-4 sm:grid-cols-2 lg:grid-cols-4 lg:h-full place-items-center">
      
	  <div class="w-full h-full">
        <img
          src="/assets/img/authenticbuyers/Mockup_Ad.png"
          alt="Image 4"
          class="mx-auto object-contain h-64 lg:h-full rounded"
        />
      </div>

      <div class="w-full h-full">
        <img
          src="/assets/img/authenticbuyers/stacked.svg"
          alt="Image 2"
          class="mx-auto pt-8 object-contain h-64 lg:h-3/4 rounded"
        />
      </div>

	<div class="w-full h-full hover:scale-150 hover:-translate-y-1">
        <img
          src="/assets/img/authenticbuyers/Mockup_Car.png"
          alt="Image 1"
          class="mx-auto object-contain h-64 lg:h-full rounded"
        />
    </div>
    
  <div class="w-full h-full">
        <img
          src="/assets/img/authenticbuyers/Mockup_Stationary.png"
          alt="Image 3"
          class="mx-auto object-contain h-64 lg:h-full rounded"
        />
      </div>
    </div>
</div>
</div>