---
layout: base.njk
isFront: true
---

<header class="header w-full min-h-32 flex flex-col justify-between">
  {% include "navbar.njk" %}
</header>
<main>
   {% include "section.seasonall.njk" %}
</main>